[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
django-jazzmin = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
pillow = "*"
crispy-bootstrap4 = "*"

[dev-packages]

[requires]
python_version = "3.12.3"
